.home {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .main_content {
        position: fixed;
        top: .43rem;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(100vh - 1.2rem);
        overflow: auto;

    }

    .nav_bar {
        background: #f7f8fa;

        .text {
            color: #535568;
        }
    }

    .tab_bar {
        background: #f7f8fa;

        .van-tabbar-item--active {
            background-color: #f7f8fa;
        }
    }
}